absl-py==0.10.0
aio-pika==6.7.1
aiofiles==0.6.0
aiohttp==3.6.3
aiormq==3.3.1
alembic==1.4.3
APScheduler==3.6.3
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.9.3
bidict==0.21.2
blinker==1.4
blis==0.4.1
boto3==1.16.62
botocore==1.19.62
brotlipy==0.7.0
cachetools @ file:///tmp/build/80754af9/cachetools_1611600262290/work
catalogue==1.0.0
certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1606255208697/work
chardet @ file:///C:/ci/chardet_1605303225733/work
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
cloudpickle==1.4.1
colorama==0.4.4
colorclass==2.2.0
coloredlogs==14.3
colorhash==1.0.3
croniter==1.0.6
cryptography==3.3.1
cycler==0.10.0
cymem==2.0.5
decorator==4.4.2
dm-tree==0.1.5
dnspython==1.16.0
docopt==0.6.2
fbmessenger==6.0.0
filelock==3.0.12
Flask==1.1.2
future==0.18.2
gast==0.3.3
gitdb==4.0.5
GitPython==3.1.12
google-auth @ file:///tmp/build/80754af9/google-auth_1607969906642/work
google-auth-oauthlib @ file:///tmp/build/80754af9/google-auth-oauthlib_1603929124518/work
google-pasta==0.2.0
greenlet @ file:///C:/ci/greenlet_1611958565931/work
grpcio @ file:///C:/ci/grpcio_1597406462198/work
h11==0.9.0
h5py==2.10.0
httpcore==0.11.1
httplib2==0.18.1
httptools==0.1.1
httpx==0.15.4
humanfriendly==9.1
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
isodate==0.6.0
itsdangerous==1.1.0
jieba==0.42.1
Jinja2==2.11.3
jmespath==0.10.0
joblib==0.15.1
jsonpickle==1.4.2
jsonschema==3.2.0
kafka-python==1.4.7
Keras-Applications @ file:///tmp/build/80754af9/keras-applications_1594366238411/work
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Mako==1.1.4
Markdown @ file:///C:/ci/markdown_1605111189761/work
MarkupSafe==1.1.1
matplotlib==3.3.4
mattermostwrapper==2.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
multidict @ file:///C:/ci/multidict_1600456481656/work
murmurhash==1.0.5
natsort==7.1.1
networkx==2.5
ngrok==0.0.1
numpy==1.16.6
oauth2client==4.1.3
oauthlib==3.1.0
opt-einsum==3.1.0
packaging==20.8
pamqp==2.3.0
pandas==1.2.4
pika==1.1.0
Pillow==8.1.0
plac==1.1.3
preshed==3.0.5
prompt-toolkit==2.0.10
protobuf==3.13.0
psycopg2 @ file:///C:/ci/psycopg2_1612298803839/work
psycopg2-binary==2.8.6
pt-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-2.3.0/pt_core_news_lg-2.3.0.tar.gz
pt-core-news-md @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_md-2.3.0/pt_core_news_md-2.3.0.tar.gz
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-2.3.0/pt_core_news_sm-2.3.0.tar.gz
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydot==1.4.1
PyJWT==2.0.0
pykwalify==1.7.0
pymongo==3.10.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==2.4.7
pyreadline==2.1
pyrsistent==0.17.3
PySocks @ file:///C:/ci/pysocks_1605287845585/work
pyTelegramBotAPI==3.7.6
python-crfsuite==0.9.7
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==4.1.0
python-socketio==5.2.0
pytz==2020.5
PyYAML==5.4.1
questionary==1.5.2
rasa==2.5.0
rasa-sdk==2.5.0
rasa-x==0.38.1
redis==3.5.3
regex==2020.9.27
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rocketchat-API==1.9.1
rsa @ file:///tmp/build/80754af9/rsa_1610483308194/work
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.4
sacremoses==0.0.43
sanic==20.9.0
Sanic-Cors==0.10.0.post3
sanic-jwt==1.6.0
Sanic-Plugins-Framework==0.9.5
scikit-learn==0.23.2
scipy==1.4.1
sentencepiece==0.1.95
sentry-sdk==0.19.5
six @ file:///C:/ci/six_1605187374963/work
sklearn-crfsuite==0.3.6
slackclient==2.9.3
smmap==3.0.5
sniffio==1.2.0
soupsieve==2.1
spacy==2.3.5
SQLAlchemy @ file:///C:/ci/sqlalchemy_1618090063261/work
srsly==1.0.5
tabulate==0.8.7
tensorboard @ file:///home/builder/ktietz/conda/conda-bld/tensorboard_1604313476433/work/tmp_pip_dir
tensorboard-plugin-wit==1.6.0
tensorflow==2.3.0
tensorflow-addons==0.12.0
tensorflow-estimator @ file:///tmp/build/80754af9/tensorflow-estimator_1599136169057/work/whl_temp/tensorflow_estimator-2.3.0-py2.py3-none-any.whl
tensorflow-hub==0.10.0
tensorflow-probability==0.11.1
termcolor==1.1.0
terminaltables==3.1.0
thinc==7.4.5
threadpoolctl==2.1.0
tokenizers==0.7.0
tqdm==4.50.2
transformers==2.11.0
twilio==6.45.4
typeguard==2.10.0
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1611751222202/work
tzlocal==2.1
ujson==1.35
urllib3 @ file:///tmp/build/80754af9/urllib3_1611694770489/work
wasabi==0.8.1
wcwidth==0.2.5
webexteamssdk==1.6
websockets==8.1
Werkzeug==1.0.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
wrapt==1.12.1
yarl @ file:///C:/ci/yarl_1598045274898/work
zipp @ file:///tmp/build/80754af9/zipp_1604001098328/work
